---
products:
    new:
        limit: {{theme_settings.new_count}}
    featured:
        limit: {{theme_settings.featured_count}}
    top_sellers:
        limit: {{theme_settings.bestselling_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{~inject 'new_type' theme_settings.new_type}}
{{~inject 'new_count' theme_settings.new_count}}
{{~inject 'featured_type' theme_settings.featured_type}}
{{~inject 'featured_count' theme_settings.featured_count}}
{{~inject 'bestselling_type' theme_settings.bestselling_type}}
{{~inject 'bestselling_count' theme_settings.bestselling_count}}
{{~inject 'brand_size' theme_settings.brand_size}}

{{#partial "head"}}
    <link rel="preload" href="{{cdn 'assets/dist/theme-bundle.chunk.home.js' resourceHint='preload' as='script'}}" as="script">
{{/partial}}

{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        {{> components/eyeva/home-carousel}}
        {{! > components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

<div class="main full _child-region-fullwidth">
    <div class="home-page-hero-layout">
        <div class="hero-banner">{{{region name="home_above_sections"}}}</div>
        <div class="hero-video">{{{region name="hero-video"}}}</div>
        <div class="hero-carousel">{{{region name="hero-carousel"}}}</div>
        <div class="hero-repair">{{{region name="mobile_repair"}}}</div>
    </div>
    <div class="popular-rugged-laptops-card-background">
    <div class="popular-rugged-laptops-card">
        <div class="section-header-wrapper">
            <h2 class="section-heading">Popular Rugged Computers</h2>
        </div>
        <section class="categoryCarousel blaze-slider"
            data-blaze-slider='{
                "all": {
                    "enablePagination": false,
                    "enableAutoplay": false,
                    "autoplayInterval": 5000,
                    "stopAutoplayOnInteraction": true,
                    "transitionDuration": 800,
                    "slidesToShow": 4,
                    "slidesToScroll": 4,
                    "slideGap": "32px"
                },
                "(max-width: 1440px)": {
                    "slidesToShow": 3,
                    "slidesToScroll": 3,
                    "slideGap": "16px"
                },
                "(max-width: 1260px)": {
                    "slidesToShow": 3,
                    "slidesToScroll": 3,
                    "slideGap": "16px"
                },
                "(max-width: 800px)": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2,
                    "slideGap": "16px"
                },
                "(max-width: 550px)": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "slideGap": "16px"
                }
            }'
        >
            <div class="blaze-container">
                <div class="blaze-track-container">
                    <div class="blaze-track">
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/toughbook-fz-55/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/fz55category2.jpg"
                                    alt="Semi-Rugged XPAK Modular Panasonic CF-55 Toughbook Laptops" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/toughbook-fz-55/"
                                class="homepage-category-button button button--primary">Panasonic FZ-55</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/getac-v110/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/v110category2.jpg"
                                    alt="Getac V110 Fully Rugged Laptops" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/getac-v110/"
                                class="homepage-category-button button button--primary">Getac V110</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/toughbook-cf-33/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf33category2.jpg"
                                    alt="Panasonic Toughbook Cf-33 Rugged Laptops" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/toughbook-cf-33/"
                                class="homepage-category-button button button--primary">Panasonic CF-33</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/getac-rugged-laptops/?_bc_fsnf=1&Model=S410"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/-compressed-frontfacinggetacs410g4gradea.jpg"
                                    alt="Refurbished Getac Rugged Laptops" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/getac-rugged-laptops/?_bc_fsnf=1&Model=S410"
                                class="homepage-category-button button button--primary">Getac S410</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/toughbook-cf-20/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf20category.jpg"
                                    alt="Fully-Rugged Panasonic CF-20 Toughbook Tablets" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/toughbook-cf-20/"
                                class="homepage-category-button button button--primary">Panasonic CF-20</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/refurbished-dell-laptops/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/dellltcategory2.jpg"
                                    alt="Dell Latitude Rugged Laptops and Tablets" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/refurbished-dell-laptops/"
                                class="homepage-category-button button button--primary">Dell Rugged Laptops</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/cf-54/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf54category2.jpg"
                                    alt="Semi-Rugged Toughbook CF-54 Laptops" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/cf-54/"
                                class="homepage-category-button button button--primary">Panasonic CF-54</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/toughbook-cf-31/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf31category2.jpg"
                                    alt="Fully Rugged Toughbook CF-31 Laptops" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/toughbook-cf-31/"
                                class="homepage-category-button button button--primary">Panasonic CF-31</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/toughpad-FZ-G1/"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/fzg1category2.jpg"
                                    alt="Panasonic Toughpad FZ-G1 Tablets" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/toughpad-FZ-G1/"
                                class="homepage-category-button button button--primary">Panasonic FZ-G1</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/rugged-laptops/?_bc_fsnf=1&brand=51"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/durabookltcategory.jpg"
                                    alt="New Durabook Z14, S14, S15AB Rugged Laptops" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/rugged-laptops/?_bc_fsnf=1&brand=51"
                                class="homepage-category-button button button--primary">Durabook Laptops</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/tablets/?_bc_fsnf=1&brand=51"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/durabooktbltcategory.jpg"
                                    alt="New U11, R11, and R8 Durabook Rugged Tablets" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/tablets/?_bc_fsnf=1&brand=51"
                                class="homepage-category-button button button--primary">Durabook Tablets</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/vehicle-mounts/?_bc_fsnf=1&brand=39"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/rammountcategory.jpg"
                                    alt="No-Drill Vehicle RAM Mounts" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/vehicle-mounts/?_bc_fsnf=1&brand=39"
                                class="homepage-category-button button button--primary">RAM Mounts</a>
                        </div>
                        <div class="item card card--boxed">
                            <a href="https://www.bobjohnson.com/printers/?_bc_fsnf=1&brand=41"><img
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/brotherprintercategory.jpg"
                                    alt="Mobile Printers by Brother" width="250" height="250"></a>
                            <a href="https://www.bobjohnson.com/printers/?_bc_fsnf=1&brand=41"
                                class="homepage-category-button button button--primary">Brother Printers</a>
                        </div>
                    </div>
                </div>
                <button class="blaze-prev" aria-label="Previous"><span class="icon"><svg><use href="#icon-arrow-left-long"></use></svg></span></button>
                <button class="blaze-next" aria-label="Next"><span class="icon"><svg><use href="#icon-arrow-right-long"></use></svg></span></button>
            </div>

        </section>
    </div>
    </div>
    {{> components/eyeva/section section=theme_settings.home_s2}}
    {{{region name="home_below_section2"}}}
    {{> components/eyeva/section section=theme_settings.home_s4}}
    {{{region name="home_below_section4"}}}
    {{> components/eyeva/section section=theme_settings.home_s5}}
    {{{region name="home_below_section5"}}}
    {{> components/eyeva/section section=theme_settings.home_s3}}
    {{{region name="home_below_section3"}}}
    <!--{{> components/eyeva/section section=theme_settings.home_s1}}-->    

    {{> components/eyeva/section section=theme_settings.home_s6}}
    {{{region name="home_below_section6"}}}
    {{> components/eyeva/section section=theme_settings.home_s7}}
    {{{region name="home_below_section7"}}}
    {{> components/eyeva/section section=theme_settings.home_s8}}
    {{{region name="home_below_section8"}}}
    {{> components/eyeva/section section=theme_settings.home_s9}}
    {{{region name="home_below_section9"}}}
</div>
{{/partial}}
{{> layout/base}}