<div class="eyeva__wishlists-table">
    <div class="_header">
        <div class="_row">
            <div class="_col">{{lang 'account.wishlists.name'}}</div class="_col">
            <div class="_col">{{lang 'account.wishlists.num_items'}}</div class="_col">
            <div class="_col">{{lang 'account.wishlists.shared'}}</div class="_col">
            <div class="_col">{{lang 'account.wishlists.action'}}</div class="_col">
        </div>
    </div>
    <div class="_body">
    {{#each customer.wishlists}}
        <div class="_row">
            <div class="_col"><span class="_num">{{num_items}}</span></div>
            <div class="_col">
                {{#if is_public }}
                    <a href="{{share_url}}" class="_public">
                        <span class="is-srOnly">{{lang 'common.yes'}}</span>
                        <i class="icon"><svg><use href="#icon-link-horizontal"></use></svg></i>
                    </a>
                {{else}}
                    <span class="_private">
                        <span class="is-srOnly">{{lang 'common.no'}}</span>
                        <i class="icon"><svg><use href="#icon-link-horizontal-slash"></use></svg></i>
                    </span>
                {{/if}}
            </div>
            <div class="_col"><a href="{{view_url}}" class="_name">{{name}}</a></div>
            <div class="_col">
                <form method="post" action="{{delete_url}}" class="form">
                    <fieldset class="form-fieldset">
                        <a href="{{edit_url}}" class="button button--primary button--small button--icon" data-wishlist>
                            <span class="is-srOnly">{{lang 'common.edit'}}</span>
                            <i class="icon"><svg class="icon"><use href="#icon-pen"></use></svg></i>
                        </a>
                        <button type="submit" class="button button--outline button--small button--icon" data-wishlist-delete>
                            <span class="is-srOnly">{{lang 'common.delete'}}</span>
                            <i class="icon"><svg class="icon"><use href="#icon-trash"></use></svg></i>
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    {{/each}}
    </div>
</div>
<form method="post" action="{{this.urls.account.wishlists.delete}}" class="form">
    {{#unless customer.wishlists}}
        <p class="eyeva__wishlists-form-actions">{{> components/common/alert/alert-info (lang 'account.wishlists.you_have_none')}}</p>

    {{/unless}}
    <div class="eyeva__wishlists-form-actions">
        <a href="{{this.urls.account.wishlists.add}}" class="button button--primary" role="button" data-wishlist>
            <i class="icon icon--left"><svg><use href="#icon-plus"></use></svg></i>
            {{lang 'account.wishlists.new'}}
        </a>
        {{inject 'wishlistDelete' (lang 'account.wishlists.delete_alert')}}
        {{#if customer.wishlists}}
            {{#each customer.wishlists}}
                <input type="hidden" value="{{this.id}}" name="deletewishlist[]">
            {{/each}}
            <input type="submit" value="{{lang 'account.wishlists.delete_all'}}" class="button button--outline" data-wishlist-delete>
        {{/if}}
    </div>
</form>
