.section--blogRecent {
    .section-heading {
        text-align: if(stencilString("section_align") == "start", start, center);

        @media (max-width: (screenSize("medium") - 1px)) {
            margin-bottom: $spacing-base;
        }
    }
}

.blog-grid {
    display: grid;
    grid-gap: $spacing-base * 2;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: (screenSize("medium") - 1px)) {
        display: flex;
        flex-wrap: nowrap;
        gap: $spacing-base;
        overflow-x: auto;

        .blog-item {
            min-width: 300px;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.blog-item {
    .blog-post-figure {
        display: block !important;
        margin-bottom: $spacing-single;
        max-width: 100%;
    }

    .blog-thumbnail {
        max-width: 100%;
    }

    .blog-post-body {
        display: flex;
        flex-direction: column;
        gap: $spacing-base;
    }

    .blog-title {
        font-size: remCalc(18);
        margin: 0;

        @media (max-width: (screenSize("medium") - 1px)) {
            font-size: $fontSize-base;
        }
    }

    .blog-post {
        color: $color-textSecondary;

        p {
            margin: 0;
        }
        @media (max-width: (screenSize("medium") - 1px)) {
            font-size: $fontSize-smaller;
        }
    }

    .blog-date {
        text-align: left;
    }
}

.blog-more {
    margin: $spacing-single auto auto;
    width: fit-content;

    @media (max-width: (screenSize("medium") - 1px)) {
        margin: $spacing-base auto auto;
    }

    .button {
        margin-bottom: 0;
    }
}
