// Random Assortment of Custom Styles

// Category Page
.category-description {
    padding: 0px 10% 0px 10%;
}

// Product Page
.inventory-specs-btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.product-sales-tax {
    display: flex;
}