{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <img src="{{cdn 'img/ruggedrundown.svg'}}" class="rundown-logo" alt="Rugged Rundown Logo">
    <p>The Rugged Rundown is our video series at Bob Johnson's Computer Stuff. We give in-depth reviews and insights on
        rugged technology, covering the best features, common issues, and detailed comparisons of Panasonic, Getac, and
        Dell rugged computers. Find out what you need to know before ordering one of our refurbished military-grade
        computers.</p>
    <h2>Latest Video</h2>
    <div class="latest-video-wrapper">
        <iframe
            src="https://www.youtube.com/embed/videoseries?si=ppHogZ8NEJY_Qjdz&amp;list=PL_ntP3EI-k2RyITyOwF5_7YcmUYSlaLsD"
            loading="lazy" allowfullscreen></iframe>
    </div>

    <div class="video-transcript-section">
        <h3>Videos With Transcripts</h3>
        <ul class="vods-control-buttons1" id="custom-control-vods1">
            <button class="blaze-prev" onclick="prevSlide()">
                <svg class="icon">
                    <use xlink:href="#icon-arrow-left-long"></use>
                </svg>
            </button>
            <button class="blaze-next" onclick="nextSlide()">
                <svg class="icon">
                    <use xlink:href="#icon-arrow-right-long"></use>
                </svg>
            </button>
        </ul>
        <div class="vod-custom-slider">
            <div class="vods-slider1">
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/sBniKwijBjQ?si=-fDj-uvWTSBv3JtB" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/different-cf33-keyboard-options/">
                                <p class="description">Different Keyboard Options For The Panasonic CF-33 Tablet</p>
                            </a>
                        </strong>
                    <p>This week, Bob reviewed the two different keyboard options for the Panasonic Toughbook CF-33.
                        While
                        the CF33 itself is a powerhouse, boasting an extended battery for enhanced usability ...</p>
                    <a class="button button--primary" href="https://www.bobjohnson.com/different-cf33-keyboard-options/"
                        target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/3SR3XQdCF4E?si=OzIllgRajyxCe1Dj" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/panasonic-toughbook-cf-31-common-issues/">
                                <p class="description">Common Issues with the Panasonic Toughbook CF-31</p>
                            </a>
                        </strong>
                    <p>The fully rugged Panasonic Toughbook CF-31 is designed to excel in the roughest conditions. It is
                        perfect for construction sites, mechanics' garages, and public service. However, ...</p>
                    <a class="button button--primary"
                        href="https://www.bobjohnson.com/panasonic-toughbook-cf-31-common-issues/" target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/1nS3kgjweuw?si=LSFzGz2QUuMdVcvu" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/panasonic-toughbook-cf-31-review/">
                                <p class="description">Panasonic Toughbook CF-31 Walkthrough Review</p>
                            </a>
                        </strong>
                    <p>The CF-31 Toughbook is Panasonic's flagship fully rugged laptop. It features a very similar
                        design to its predecessor, the CF-30. It is known for its ability to work in demanding ...</p>
                    <a class="button button--primary"
                        href="https://www.bobjohnson.com/panasonic-toughbook-cf-31-review/" target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/kYWUyfMB134?si=gBMwe27WUjVv3eEm" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/panasonic-toughpad-fz-g1-common-issues/">
                                <p class="description">Common Issues with the Panasonic Toughpad FZ-G1</p>
                            </a>
                        </strong>
                    <p>Over the years, we've refurbished and sold plenty of FZ-G1 tablets. These tablets are tough, but
                        that's not to say they don't also have their fair share of flaws. We've compiled ...</p>
                    <a class="button button--primary"
                        href="https://www.bobjohnson.com/panasonic-toughpad-fz-g1-common-issues/" target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/DqT_dC_gZBo?si=ZBPEeO0Ya9tG91IM" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/panasonic-toughbook-cf-53-common-issues/">
                                <p class="description">Common Issues with the Panasonic Toughbook CF-53</p>
                            </a>
                        </strong>
                    <p>Using any computer has advantages and disadvantages when choosing one model over another. Nothing
                        is 100% perfect, and it's better to know what can go wrong with something before ...</p>
                    <a class="button button--primary"
                        href="https://www.bobjohnson.com/panasonic-toughbook-cf-53-common-issues/" target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/p8OkGPFJmOk?si=vqKSJZPs_kilxEZM" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/panasonic-toughbook-cf-54-common-issues/">
                                <p class="description">Common Issues with the Panasonic Toughbook CF-54</p>
                            </a>
                        </strong>
                    <p>Are you interested in a Toughbook CF-54? Before purchasing one of these semi-rugged laptops,
                        learn about their common issues. This will help you prepare for maintenance and ...</p>
                    <a class="button button--primary"
                        href="https://www.bobjohnson.com/panasonic-toughbook-cf-54-common-issues/" target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/kk6Vp2-ZQCo?si=H5H3NoMpuygXsPUb" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/panasonic-toughbook-cf-53-review/">
                                <p class="description">Panasonic Toughbook CF-53 Walkthrough Review</p>
                            </a>
                        </strong>
                    <p>The CF-53 semi-rugged Toughbook is an excellent option for anyone who needs a durable laptop that
                        won't break the bank. The CF-53 is the successor to the Panasonic Toughbook CF-52...</p>
                    <a class="button button--primary"
                        href="https://www.bobjohnson.com/panasonic-toughbook-cf-53-review/" target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
                <div class="blog-article">
                    <div class="video-wrapper">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/Xnpmr934Twg?si=zetmX10UsIVJfKUH" loading="lazy"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <p>
                        <strong>
                            <a href="https://www.bobjohnson.com/panasonic-toughbook-cf-54-features/">
                                <p class="description">Top Features of the Panasonic Toughbook CF-54</p>
                            </a>
                        </strong>
                    <p>With how fast-paced and unpredictable work environments can be, working professionals need a
                        laptop that can keep up with their demands while withstanding the challenges of the job ...</p>
                    <a class="button button--primary"
                        href="https://www.bobjohnson.com/panasonic-toughbook-cf-54-features/" target="_blank">
                        Continue to Video Summary
                    </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="video-transcript-section">
            <div class="vod-grid">
                <div class="vods-playlists">
                    <h2>Watch Our YouTube Videos on All Rugged Computer Models!</h2>
                    <ul class="vods-control-buttons2" id="custom-control-vods2">
                        <button class="blaze-prev" onclick="prevSlide()">
                <svg class="icon">
                    <use xlink:href="#icon-arrow-left-long"></use>
                </svg>
            </button>
            <button class="blaze-next" onclick="nextSlide()">
                <svg class="icon">
                    <use xlink:href="#icon-arrow-right-long"></use>
                </svg>
            </button>
                    </ul>
                    <div class="vods-slider2">
                        <div class="playlist-slide">
                            <a href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If"><img
                                    class="playlist-thumbnail"
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf-31-playlist.png"
                                    alt="Panasonic Toughbook CF-31 Youtube Playlist"></a>
                            <div class="vod-playlist-btncenter">
                                <a class="button button--primary playlist-button"
                                    href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If">Panasonic
                                    Toughbook
                                    CF-31 Youtube Playlist</a>
                            </div>
                        </div>
                        <div class="playlist-slide">
                            <a href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2RnSHfmKB5MgyC1WT4mxy0k"><img
                                    class="playlist-thumbnail"
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf-53-playlist.png"
                                    alt="Panasonic Toughbook CF-53 Youtube Playlist"></a>
                            <div class="vod-playlist-btncenter">
                                <a class="button button--primary playlist-button"
                                    href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If">Panasonic
                                    Toughbook
                                    CF-53 Youtube Playlist</a>
                            </div>
                        </div>
                        <div class="playlist-slide">
                            <a href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2RiOzdqPzi3PHHkT3Q8w8yD"><img
                                    class="playlist-thumbnail"
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf-19-playlist.png"
                                    alt="Panasonic Toughbook CF-19 Youtube Playlist"></a>
                            <div class="vod-playlist-btncenter">
                                <a class="button button--primary playlist-button"
                                    href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If">Panasonic
                                    Toughbook
                                    CF-19 Youtube Playlist</a>
                            </div>
                        </div>
                        <div class="playlist-slide">
                            <a href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SXpKsIjXLa1nsq8i6H74tb"><img
                                    class="playlist-thumbnail"
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf-33-playlist.png"
                                    alt="Panasonic Toughbook CF-33 Youtube Playlist"></a>
                            <div class="vod-playlist-btncenter">
                                <a class="button button--primary playlist-button"
                                    href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If">Panasonic
                                    Toughbook
                                    CF-33 Youtube Playlist</a>
                            </div>
                        </div>
                        <div class="playlist-slide">
                            <a href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2S-hIT763OUxyBJGuQxkNMA"><img
                                    class="playlist-thumbnail"
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf-20-playlist.png"
                                    alt="Panasonic Toughbook CF-20 Youtube Playlist"></a>
                            <div class="vod-playlist-btncenter">
                                <a class="button button--primary playlist-button"
                                    href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If">Panasonic
                                    Toughbook CF-20 Youtube Playlist</a>
                            </div>
                        </div>
                        <div class="playlist-slide">
                            <a href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SewLIwp9rp3U_TXu364YH5"><img
                                    class="playlist-thumbnail"
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/cf-54-playlist.png"
                                    alt="Panasonic Toughbook CF-54 Youtube Playlist"></a>
                            <div class="vod-playlist-btncenter">
                                <a class="button button--primary playlist-button"
                                    href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If">Panasonic
                                    Toughbook CF-54 Youtube Playlist</a>
                            </div>
                        </div>
                        <div class="playlist-slide">
                            <a href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2Tb3B2RhAf9M7BzRDen9z1Y"><img
                                    class="playlist-thumbnail"
                                    src="https://www.bobjohnson.com/product_images/uploaded_images/durabook-s14i-playlist.png"
                                    alt="Durabook S14i Youtube Playlist"></a>
                            <div class="vod-playlist-btncenter">
                                <a class="button button--primary playlist-button"
                                    href="https://www.youtube.com/playlist?list=PL_ntP3EI-k2SyBmAcP7HHgKgIMI6Dd8If">Durabook
                                    S14i
                                    Youtube Playlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-request">
                    <h2>YouTube Video Request</h2>
                    <form accept-charset="UTF-8"
                        action="https://gc200.infusionsoft.com/app/form/process/ae0d6cf6caf1bdd172ae0c8e45c01e25"
                        class="infusion-form" id="inf_form_ae0d6cf6caf1bdd172ae0c8e45c01e25" method="POST">
                        <input name="inf_form_xid" type="hidden" value="ae0d6cf6caf1bdd172ae0c8e45c01e25" />
                        <input name="inf_form_name" type="hidden" value="Web form is submitted" />
                        <input name="infusionsoft_version" type="hidden" value="1.70.0.877959" />
                        <div class="infusion-field">
                            <label class="form-label" for="inf_field_FirstName">First Name *</label>
                            <input class="form-input" id="inf_field_FirstName" name="inf_field_FirstName"
                                placeholder="First Name *" type="text" />
                        </div>
                        <div class="infusion-field">
                            <label class="form-label" for="inf_field_LastName">Last Name *</label>
                            <input class="form-input" id="inf_field_LastName" name="inf_field_LastName"
                                placeholder="Last Name *" type="text" />
                        </div>
                        <div class="infusion-field">
                            <label class="form-label" for="inf_field_Email">Email *</label>
                            <input class="form-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *"
                                type="text" />
                        </div>
                        <div class="infusion-field">
                            <label class="form-label" for="inf_custom_VideoIdea">Video Idea *</label>
                            <textarea cols="24" id="inf_custom_VideoIdea" is-required="true" name="inf_custom_VideoIdea"
                                placeholder="Video Idea *" rows="5" data-qb-tmp-id="lt-832502" spellcheck="false"
                                data-gramm="false" class="form-input"></textarea>
                        </div>
                        <div>
                            <div>&nbsp;</div>
                        </div>
                        <div class="infusion-submit">
                            <button class="button button--primary" id="recaptcha_ae0d6cf6caf1bdd172ae0c8e45c01e25"
                                type="submit">Submit</button>
                        </div>
                    </form>
                    <script type="text/javascript"
                        src="https://gc200.infusionsoft.app/app/webTracking/getTrackingCode"></script>
                    <script type="text/javascript"
                        src="https://gc200.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.70.0.877959"></script>
                    <script
                        src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit"
                        async="async" defer="defer"></script>
                    <script type="text/javascript"
                        src="https://gc200.infusionsoft.com/app/timezone/timezoneInputJs?xid=ae0d6cf6caf1bdd172ae0c8e45c01e25"></script>
                    <script type="text/javascript"
                        src="https://gc200.infusionsoft.com/js/jquery/jquery-3.3.1.js"></script>
                    <script type="text/javascript"
                        src="https://gc200.infusionsoft.app/app/webform/overwriteRefererJs"></script>
                </div>
            </div>



            {{#if page.feed}}
            <ul>
                {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
                {{/each}}
            </ul>
            {{/if}}
</main>

{{/partial}}

{{> layout/base}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
<script type="module">
    var slider1 = tns({
        container: '.vods-slider1',
        items: 3,
        slideBy: '1',
        autoplay: false,
        controlsContainer: "#custom-control-vods1",
        navPosition: "bottom",
        controlsPosition: "bottom",
        responsive: {
            0: {
                items: 1,
                slideBy: '1',
                nav: true
            },
            770: {
                items: 2,
                slideBy: '1',
                nav: true
            },
            1200: {
                items: 3,
                slideBy: '1',
                nav: true
            }
        }
    });
</script>

<script type="module">
    var slider2 = tns({
        container: '.vods-slider2',
        items: 1,
        slideBy: '1',
        autoplay: false,
        controlsContainer: "#custom-control-vods2",
        navPosition: "bottom",
        controlsPosition: "bottom",
    });
</script>