{{#unless quickview}}
    {{#if product.description}}
        <p class="productView-collapsible-title">
            <button class="button button--plain _animation-on {{#unless theme_settings.collapse_description}}is-open{{/unless}}" data-collapsible="productView-collapsible-description-{{product.id}}" type="button" aria-expanded="{{#if theme_settings.collapse_description}}false{{else}}true{{/if}}" aria-controls="productView-collapsible-description-{{product.id}}">
                <span>{{lang 'products.description'}}</span>
                <i class="icon" aria-hidden="true"><svg><use href="#icon-chevron-down-light"></use></svg></i>
            </button>
        </p>
        <div class="productView-collapsible-content _description {{#unless theme_settings.collapse_description}}is-open{{/unless}}" id="productView-collapsible-description-{{product.id}}" aria-hidden="{{#if theme_settings.collapse_description}}true{{else}}false{{/if}}" data-event-type="product">
            {{{product.description}}}
            {{#if in_development}}
                {{#unless product.description}}
                    <p>Demo content visible for localhost development only: <code>templates/components/eyeva/products/demo-product-description.html</code></p>
                    {{> components/eyeva/products/demo-product-description}}
                {{/unless}}
            {{/if}}
        </div>
    {{/if}}
{{/unless}}

{{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
    <div class="productView-customFields" id="productView-customFields-{{product.id}}">
        <p class="productView-collapsible-title">
            <button class="button button--plain _animation-on {{#unless theme_settings.collapse_custom_fields}}is-open{{/unless}}" data-collapsible="productView-collapsible-customFields-{{product.id}}" type="button" aria-expanded="{{#if theme_settings.collapse_custom_fields}}false{{else}}true{{/if}}" aria-controls="productView-collapsible-customFields-{{product.id}}">
                <span>{{default theme_settings.pdp-custom-fields-tab-label (lang 'page_builder.pdp-custom-fields-tab-label')}}</span>
                <i class="icon" aria-hidden="true"><svg><use href="#icon-chevron-down-light"></use></svg></i>
            </button>
        </p>
        <div class="productView-collapsible-content _customFields {{#unless theme_settings.collapse_custom_fields}}is-open{{/unless}}" id="productView-collapsible-customFields-{{product.id}}" aria-hidden="{{#if theme_settings.collapse_custom_fields}}true{{else}}false{{/if}}">
            <dl class="productView-info">
                {{> components/products/custom-fields}}
            </dl>
        </div>
    </div>
    {{#unless product._visible_custom_fields_count}}
        <script nonce="{{nonce}}">document.getElementById('productView-customFields-{{product.id}}').style="display:none";</script>
    {{/unless}}
{{/all}}
{{#unless quickview}}
    {{#if product.warranty}}
        <p class="productView-collapsible-title">
            <button class="button button--plain _animation-on {{#unless theme_settings.collapse_warranty}}is-open{{/unless}}" data-collapsible="productView-collapsible-warranty-{{product.id}}" type="button" aria-expanded="{{#if theme_settings.collapse_warranty}}false{{else}}true{{/if}}" aria-controls="productView-collapsible-warranty-{{product.id}}">
                <span>{{lang 'products.warranty'}}</span>
                <i class="icon" aria-hidden="true"><svg><use href="#icon-chevron-down-light"></use></svg></i>
            </button>
        </p>
        <div class="productView-collapsible-content _warranty {{#unless theme_settings.collapse_warranty}}is-open{{/unless}}" id="productView-collapsible-warranty-{{product.id}}" aria-hidden="{{#if theme_settings.collapse_warranty}}true{{else}}false{{/if}}">
            {{{product.warranty}}}
        </div>
    {{/if}}
{{/unless}}
