{{#if hscroll}}<div class="productGrid-container">{{/if}}
    <ul class="productGrid {{#if hscroll}}productGrid--hscroll{{/if}}">
        {{#each products}}
        <li class="product">
            {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1) category_breadcrumbs=../category_breadcrumbs}}
        </li>
        {{/each}}
    </ul>
{{#if hscroll}}</div>{{/if}}
