{{inject 'outOfStockDefaultMessage' (lang 'products.out_of_stock_default_message')}}

<div class="productView" data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}"
    data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}" data-product-variant="single-product-option">

    {{#each product.reviews.messages}}
    {{#if error}}
    {{> components/common/alert/alert-error error}}
    {{/if}}
    {{#if success}}
    {{> components/common/alert/alert-success success}}
    {{/if}}
    {{/each}}

    {{> components/eyeva/products/product-view/image-gallery}}

    <div class="_eyeva-sticky-col">
        <div class="_eyeva-sticky-box">
            <section class="productView-details product-data">
                <div class="productView-product">
                    <div class="wishlist-flex">
                        <h1 class="productView-title" data-eyeva-product-title>{{product.title}}</h1>

                        {{#if product.main_image}}
                        <div class="_eyeva-quickview-image">
                            {{> components/common/responsive-img
                            image=product.main_image
                            class="_eyeva-quickview-img"
                            fallback_size=theme_settings.product_size
                            lazyload=theme_settings.lazyload_mode
                            default_image=theme_settings.default_image_product
                            otherAttributes="data-main-image"
                            }}
                        </div>
                        {{/if}}

                        {{> components/common/wishlist-dropdown}}
                    </div>
                    <dl class="_eyeva-product-info-top">
                        {{#if product.brand}}
                        <dt class="is-srOnly"></dt>
                        <dd class="_brand"><a href="{{product.brand.url}}"><span>{{product.brand.name}}</span></a></dd>
                        {{/if}}

                        <dt class="sku-label" {{#unless product.sku}} style="display: none;" {{/unless}}>{{lang
                            'products.sku'}}</dt>
                        <dd data-product-sku>{{product.sku}}</dd>

                        {{#if product.availability}}
                        <dt class="is-srOnly">{{lang 'products.availability'}}</dt>
                        <dd>{{product.availability}}</dd>
                        {{/if}}
                    </dl>

                    <div class="_eyeva-badges">
                        {{#if product.shipping.price.value '===' 0}}
                        <div class="_badge _shipping" aria-label="{{lang 'products.shipping'}}">{{lang
                            'products.shipping_free'}}</div>
                        {{/if}}
                        {{#if product.condition}}
                        <div class="_badge _condition" aria-label="{{product.condition}}">{{product.condition}}</div>
                        {{/if}}
                        {{#each product.custom_fields}}
                        {{#if name '===' '__badge'}}
                        <div class="_badge _custom">{{value}}</div>
                        {{/if}}
                        {{/each}}
                    </div>

                    <div class="_group-price-bulk-rating">
                        <div class="productView-price">
                            {{#if product.call_for_price}}
                            <div class="productView-callForPrice">{{product.call_for_price}}</div>
                            {{/if}}
                            {{#or customer (unless settings.hide_price_from_guests)}}
                            {{> components/products/price price=product.price}}
                            {{else}}
                            {{> components/common/login-for-pricing}}
                            {{/or}}
                        </div>

                        {{#if settings.bulk_discount_enabled}}
                        {{#or customer (unless settings.hide_price_from_guests)}}
                        <div class="productView-info-bulkPricing">
                            {{> components/products/bulk-discount-rates
                            bulk_discount_rates=product.bulk_discount_rates}}
                        </div>
                        {{/or}}
                        {{/if}}
                        <div class="yotpo-widget-instance" data-yotpo-instance-id="656855"
                            data-yotpo-product-id="{{product.id}}">
                        </div>

                        <div class="_regions">
                            {{{region name="product_below_price"}}}
                            {{{region name="product_below_price--global"}}}
                        </div>

                        {{#if settings.show_product_rating}}
                        {{#if product.num_reviews '>' 0}}
                        <div class="productView-rating">
                            {{> components/products/ratings rating=product.rating}}
                            <a href="{{product.url}}{{#if is_ajax}}#product-reviews{{/if}}" id="productReview_link"
                                title="{{lang 'products.reviews.link_to_review_sr' total=product.num_reviews rating=product.rating}}">
                                {{lang 'products.reviews.link_to_review_short' total=product.num_reviews
                                rating=product.rating}}
                            </a>
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>

                    {{product.detail_messages}}
                    {{#filter product.custom_fields '__@page_tooltip' property='name'}}
                    <div class="productView-pageTooltip">
                        <div class="eyeva__productView-option-tooltip">{{{sanitize value}}}</div>
                    </div>
                    {{/filter}}
                    <dl class="productView-info">
                        {{#all product.weight theme_settings.show_product_weight}}
                        <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                        <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                        {{/all}}
                        {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                        <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                        <dd class="productView-info-value" data-product-width>
                            {{product.width}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                        <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                        <dd class="productView-info-value" data-product-height>
                            {{product.height}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                        <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                        <dd class="productView-info-value" data-product-depth>
                            {{product.depth}}
                            {{#if settings.measurements.length '==' 'Centimeters'}}
                            ({{lang 'products.measurement.metric'}})
                            {{else}}
                            ({{lang 'products.measurement.imperial'}})
                            {{/if}}
                        </dd>
                        {{/all}}
                        {{#if product.min_purchase_quantity}}
                        <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.purchase_units'
                            quantity=product.min_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.max_purchase_quantity}}
                        <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.purchase_units'
                            quantity=product.max_purchase_quantity}}</dd>
                        {{/if}}
                        {{#if product.gift_wrapping_available}}
                        <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                        {{/if}}
                        {{#if product.shipping}}
                        {{#if product.shipping.calculated}}
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                        {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                        {{else}}
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_fixed'
                            amount=product.shipping.price.formatted}}</dd>
                        {{/if}}
                        {{/if}}
                        {{/if}}
                        <dd class="productView-info-value">Sales Tax: <b>Delaware, Home To Tax Free Shopping!</b></dd>
                    </dl>
                </div>
                {{{region name="product_below_shipping"}}}
                {{{region name="product_below_shipping--global"}}}
            </section>
        </div><!-- /._eyeva-sticky-box -->
        <div class="mobile-inventory-specs-btn-container">
            {{#if product.condition '===' 'New'}}
            {{else}}
            <a href="https://www.bobjohnson.com/blog/preparing-your-rugged-computer/" class="button picturesActualInventory" target="_blank">Order Fulfillment Process</a>
            <a href="https://www.bobjohnson.com/blog/real-honest-photos-of-real-honest-toughbooks/"
                class="button button--outline picturesActualInventory" target="_blank">Pictures Of Actual Inventory!
                Learn More Here!</a>
            {{/if}}
            {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
            <a href="#website-specifications" class="button button--primary" id="skipToSpecs">Computer Specifications</a>
            {{/all}}
        </div>

        <section class="productView-details product-options">
            {{> components/eyeva/products/product-view/modifiers-modal/init}}

            <div
                class="productView-options eyeva__productView-options {{#if (getVar 'enableModifiersModal')}}_enableModifiersModal{{/if}}">
                {{#if product.release_date }}
                <p>{{product.release_date}}</p>
                {{/if}}
                <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                    data-cart-item-add>
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="product_id" value="{{product.id}}" />
                    {{#if product.cart_order_source}}
                    <input type="hidden" name="cart_order_source" value="{{product.cart_order_source}}" />
                    {{/if}}
                    <div data-product-option-change>
                        {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                        {{> components/eyeva/products/product-view/modifiers-modal/product-options}}
                    </div>
                    <div
                        class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                        <label class="form-label form-label--alternate">
                            {{lang 'products.current_stock'}}
                            <span data-product-stock>{{product.stock_level}}</span>
                        </label>
                    </div>

                    {{{region name="product_below_options"}}}
                    {{{region name="product_below_options--global"}}}

                    {{> components/eyeva/products/product-view/modifiers-modal/add-to-cart}}

                    {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                    {{> components/common/alert/alert-error product.out_of_stock_message}}
                    {{else}}
                    {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                    {{/if}}

                    {{{region name="product_below_add_to_cart"}}}
                    {{{region name="product_below_add_to_cart--global"}}}
                </form>
            </div>
            {{> components/papathemes/shipping-countdown/display}}
            {{> components/papathemes/sale-countdown/display}}

            {{{region name="product_above_socials"}}}
            {{{region name="product_above_socials--global"}}}

            {{> components/common/share url=product.url className="productView-share"}}
        </section>
    </div><!-- /._eyeva-sticky-col -->

    <article class="productView-description">
        {{#unless quickview}}
        {{#if theme_settings.show_product_details_tabs}}
        {{> components/products/description-tabs}}
        {{else}}
        {{> components/products/parts-description}}
        {{/if}}
        {{else}}
        {{!-- show custom fields table only in the quick-view modal --}}
        {{> components/products/parts-description quickview=true}}
        {{/unless}}
    </article>

    <div class="productView-sticky-bar">
        <div class="alertBox productAttributes-message" style="display:none">
            <div class="alertBox-column alertBox-icon">
                <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                        </path>
                    </svg></icon>
            </div>
            <p class="alertBox-column alertBox-message"></p>
        </div>
        <div class="productView-sticky-flexbox">
            <div class="productView-sticky-price">
                {{#or customer (unless settings.hide_price_from_guests)}}
                {{> components/products/price price=product.price}}
                {{else}}
                {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            <div class="productView-sticky-add-to-cart">
                {{#if product.show_quantity_input}}
                {{inject 'productQuantityErrorMessage' (lang 'products.quantity_error_message')}}
                <div class="form-field form-field--increments">
                    <label class="form-label form-label--alternate is-srOnly" for="qty[]">{{lang
                        'products.quantity'}}</label>
                    <div class="form-increment mobile-increment" data-quantity-change>
                        <button class="button button--icon" data-action="dec">
                            <span class="is-srOnly">{{lang 'products.quantity_decrease' name=product.title}}</span>
                            <i class="icon" aria-hidden="true">
                                <svg>
                                    <use href="#icon-minus" />
                                </svg>
                            </i>
                        </button>
                        <input class="form-input form-input--incrementTotal" id="qty[]" name="qty[]" type="tel"
                            value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                            data-quantity-min="{{product.min_purchase_quantity}}"
                            data-quantity-max="{{product.max_purchase_quantity}}" min="1" pattern="[0-9]*"
                            aria-live="polite">
                        <button class="button button--icon" data-action="inc">
                            <span class="is-srOnly">{{lang 'products.quantity_increase' name=product.title}}</span>
                            <i class="icon" aria-hidden="true">
                                <svg>
                                    <use href="#icon-plus" />
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
                {{/if}}
            </div>
            {{#or customer (unless settings.hide_price_from_guests)}}
            <button type="button"
                class="button button--primary {{#unless product.can_purchase}}is-disabled{{/unless}}"
                id="sticky-add-to-cart"
                {{#unless product.can_purchase}}disabled aria-disabled="true"{{/unless}}
                data-can-purchase="{{product.can_purchase}}">
                {{lang 'products.add_to_cart'}}
            </button>
            {{/or}}
        </div>
    </div>
</div>
<script type="text/javascript">//<![CDATA[
    var div = document.createElement("div");
    div.setAttribute('class', 'yotpo yotpo-main-widget');
    div.setAttribute('data-product-id', "{{product.id}}");
    div.setAttribute('data-name', "{{product.title}}");
    div.setAttribute('data-url', "{{product.url}}");
    div.setAttribute('data-description', "{{product.jibberjabber}}");
    div.setAttribute('data-image-url', "{{getImage product.main_image 'product'}}");
    div.setAttribute('data-price', "{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{/if}}{{#if product.price.without_tax}}{{product.price.without_tax.value}}{{/if}}");
    div.setAttribute('data-currency', "{{currency_selector.active_currency_code}}");
    document.querySelectorAll('.productView')[0].appendChild(div)
    //]]>
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stickyBtn = document.getElementById('sticky-add-to-cart');
        const productForm = document.querySelector('.productView form[data-cart-item-add]');

        if (stickyBtn && productForm && !stickyBtn.dataset.eyevaStickyBound) {
            stickyBtn.dataset.eyevaStickyBound = 'true';

            stickyBtn.addEventListener('click', function (event) {
                event.preventDefault();

                if (stickyBtn.disabled || stickyBtn.getAttribute('aria-disabled') === 'true') {
                    return;
                }

                const stickyQty = stickyBtn.closest('.productView-sticky-flexbox')
                    ?.querySelector('.mobile-increment input[name="qty[]"]');
                const formQty = productForm.querySelector('[data-quantity-change] input[name="qty[]"]');

                if (stickyQty && formQty && formQty.value !== stickyQty.value) {
                    formQty.value = stickyQty.value;
                    formQty.dispatchEvent(new Event('change', { bubbles: true }));
                }

                if (!productForm.checkValidity()) {
                    const invalidField = productForm.querySelector(':invalid');
                    if (invalidField) {
                        invalidField.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        invalidField.focus();

                        if (typeof invalidField.reportValidity === 'function') {
                            invalidField.reportValidity();
                        }
                    }

                    return;
                }

                const submitBtn = productForm.querySelector('#form-action-addToCart');

                if (submitBtn && !submitBtn.disabled) {
                    submitBtn.click();
                } else if (typeof productForm.requestSubmit === 'function') {
                    productForm.requestSubmit();
                } else if (window.jQueryTheme) {
                    window.jQueryTheme(productForm).trigger('submit');
                } else {
                    productForm.dispatchEvent(new Event('submit', { bubbles: true, cancelable: true }));
                }
            });
        }

        const root = document.documentElement;
        const header = document.querySelector('.header');
        const productView = document.querySelector('.productView');

        function setStickyTopOffset() {
            if (!header) return;
            const headerHeight = Math.ceil(header.getBoundingClientRect().height);
            root.style.setProperty('--eyeva-sticky-top', headerHeight + 'px');
        }

        setStickyTopOffset();
        window.addEventListener('load', setStickyTopOffset);
        window.addEventListener('resize', setStickyTopOffset, { passive: true });

        if ('ResizeObserver' in window && header) {
            const ro = new ResizeObserver(setStickyTopOffset);
            ro.observe(header);
        }

        // Hide PDP meta blocks on smaller laptops while scrolling down,
        // keep hidden until user returns near top
        const laptopMQ = window.matchMedia('(min-width: 801px) and (max-width: 1366px)');
        let lastY = window.scrollY;
        let compactLocked = false;

        function handleCompactMeta() {
            const y = window.scrollY;
            const scrollingDown = y > lastY;
            const hideAt = 120;   // hide after this point
            const showAt = 40;    // only show again near top

            if (!laptopMQ.matches) {
                document.body.classList.remove('eyeva-compact-meta');
                compactLocked = false;
                lastY = y;
                return;
            }

            if (!compactLocked && scrollingDown && y > hideAt) {
                compactLocked = true;
                document.body.classList.add('eyeva-compact-meta');
            } else if (compactLocked && y <= showAt) {
                compactLocked = false;
                document.body.classList.remove('eyeva-compact-meta');
            }

            lastY = y;
        }

        window.addEventListener('scroll', handleCompactMeta, { passive: true });
        window.addEventListener('resize', handleCompactMeta, { passive: true });
        handleCompactMeta();
    });
</script>